<h1 class="text-3xl font-bold text-center mb-4">Les six premiers Pokémons</h1>
<p class="text-center mb-4">{{ pokemonCount }} pokémons en base de données</p>
<h3 class="text-xl text-gray-500 text-center uppercase mb-6">Dans l'ordre du pokédex</h3>

<div class="grid grid-cols-3 gap-4">
  @for (item of pokemons; track item) {
    <div class="border rounded-lg shadow p-4 bg-white">
      <h4>{{ item.name }}</h4>
      @if (item.sprites?.front_default) {
        <img [src]="item.sprites?.front_default" [alt]="item.name">
      }
      @if (item.height) {
        <p>Taille : {{ item.height / 10 }} m</p>
      } @else {
        <p>Taille : N/A</p>
      }

      @if (item.weight) {
        <p>Poids : {{ item.weight / 10 }} kg</p>
      } @else {
        <p>Poids : N/A</p>
      }
    </div>
  }
</div>
